#labels {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7cm;
  height: 5.85cm;
  border: 1px solid #CCC;
  box-sizing: border-box;
  break-inside: avoid;
  font-size: .8rem;
}

/* HEADER */
.card__header {
  min-height: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: .4rem;
  overflow: hidden;
}
.card__name {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}
.card__brand {
  font-size: 1rem;
  font-weight: 500;
}

/* BODY */
.card__body {
  display: flex;
  flex-grow: 1;
  gap: 1.2rem;
  box-sizing: border-box;
  border-block: 1px solid #AAA;
  padding: .4rem;
}
.card__price {
  flex-grow: 1;
  text-align: end;
  align-self: end;
}
.card__pvp {
  font-size: 3.5rem;
  font-weight: 800;
}
.card__unit {
  font-size: .8rem;
}
.card__details {
  box-sizing: border-box;
  text-transform: uppercase;
  align-self: center;
  td {
    padding-block-start: .3rem;
  }
  td:first-child {
    font-size: .7rem;
  }
  td:last-child {
    min-width: 2rem;
    padding-inline-start: .6rem;
  }
}

/* FOOTER */
.card__score {
  display: flex;
  align-items: stretch;
  font-size: .7rem;
  ul {
    padding: .3rem .4rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    flex: 1;
  }
  li {
    display: flex;
    align-items: center;
    gap: .3rem;
  }
}

.card__score-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  padding: .4rem;
  border-inline-end: 1px dashed #DDD;
}
.card__score-label {
  color: #666;
}