header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 2rem;
  gap: 2rem;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-primary);

  > figure {
    border-inline-end: 1px solid var(--color-primary);
    padding-inline-end: 2rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: 1.2rem;
  }
}



