:root {
  --color-primary: rgb(30, 129, 127);
}

figure,
h1,
h2,
h3,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 2rem;
  font-optical-sizing: auto;
  font-family: "Codec Pro", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: var(--color-primary);
}

table {
  border-collapse: collapse;
  width: 100%;
}

@media print {
  body {
    margin: 0;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}