:root {
  --color-primary: rgb(30, 129, 127);
}

figure,
h1,
h2,
h3,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 2rem;
  font-optical-sizing: auto;
  font-family: "Questrial", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: var(--color-primary);
}

table {
  border-collapse: collapse;
}

@media print {
  body {
    margin: 0;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

fieldset {
  padding: 0;
  border: none;
}
legend {
  font-weight: 600;
  margin-block-end: 1rem;
}


main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (min-width: 1400px) {
    flex-direction: row;
  }
}


#sidebar {
  display: flex;
  gap: 2rem;
  @media (min-width: 1400px) {
    width: 16rem;
    flex-direction: column;
  }
}