#labels {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 8cm;
  height: 4cm;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 1rem;
  break-inside: avoid;
  font-size: .8rem;
}
.card__name {
  font-size: 1.1rem;
  font-weight: 600;
}
.card__pvp {
  font-size: 1.6rem;
  font-weight: 600;
}