.u-uppercase {
  text-transform: uppercase;
}
.u-text-right {
  text-align: right;
}
.u-font-bold {
  font-weight: bold;
}

.u-font-x-small {
  font-size: 1rem;
}
.u-font-small {
  font-size: 1.3rem;
}

.u-placeholder {
  display: inline-block;
  min-width: 1.8rem;
}

.u-loading {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  &:after {
    content: 'Carregando...';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
  }
}